#container {
    flex-direction: column;
    height: calc(100vh - 40px - var(--app-bar-height));
}

#tabs {
    padding: 10px;
}

#views {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    
}