.achievement-container {
    --achievement-container-height: 70vh;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.achievement-goal-list {
    flex: 1;
    flex-direction: column;
}

/* 成就集和成就列表 */
.achievement-goal-list,
.achievement-group-list {
    max-height: 100%;
    overflow-y: auto;
    margin: 10px;
    height: var(--achievement-container-height);
}

.achievement-group-list {
    flex: 3;
}

.achievement-group-list-item,
.achievement-item {
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
}

.achievement-actions {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .achievement-container {
        display: block;
    }

    .achievement-goal-list {
        height: calc(var(--achievement-container-height) / 4);

    }

    .achievement-group-list {
        height: calc(var(--achievement-container-height) / 4 * 3)
    }
}