
@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans:wght@100..900&display=swap');

.lang-zh{
    font-family: Noto Sans SC
}
.lang-zht{
    font-family: Noto Sans TC
}
.lang-jp{
    font-family: Noto Sans JP
}
.lang-en{
    font-family: Noto Sans
}

.g-font{
    font-family: var(--font-family) !important;
}

body {
    font-family: var(--font-family);
}