
@font-face {
    font-family: 'Genshin';
    src: url('/font/HYWenHei-85W-1.ttf');
}

@font-face {
    font-family: 'DIN';
    src: url("/font/DIN-Regular-2.otf");
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url("/font/JetBrainsMono-Regular.ttf");
}


:root {
    --font-family: 'Genshin','DIN', 'Source Han Sans', 'Microsoft YaHei UI', "HarmonyOS Sans";
}

.g-font{
    font-family: var(--font-family) !important;
}

body {
    font-family: var(--font-family);
}