@import url("./g-font.css");

body {
  transition: background-color .25s, color .25s;
  color: var(--color-text);
  background-color: var(--color-body);
}

:root {
  --base-width: min(100%, 1000px)
}
.base-width {
  width: var(--base-width)
}

.option-style{
  --option-height:auto;
  --option-padding:6px 12px;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(var(--color-background), 1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}