@import url("./g-font.css");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
th,
td,
.text-color {
  color: var(--color-text)
}

.base-width {
  width: min(100%, 1000px)
}

.option-style{
  --option-height:auto;
  --option-padding:6px 12px;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(var(--color-background), 1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}